{% extends 'layout.html' %}

{% block content %}
    <br>
    <h2 align = "center" >ClassRoom : ComputerOrganized2564</h2>
    <br>
    <div class="container">
        {% if user.is_staff == 1%}
            <div class="row">
                <div class="col-sm">
                    <h4>Enter ID to kick out of class: </h4>
                    <form action="comOrglogout" method="post">
                        {% csrf_token %}
                        <div class = "from-group">
                            <input type="text" class = "form-control" name="studentID">
                        </div>
                        <br>
                        <input type="submit" value="Submit" class="btn btn-primary">
                    </form>
                </div>
                <div class="col-sm">
                    <h4>End class: </h4>
                    <form action="comOrgEndClass" method="post">
                        {% csrf_token %}
                        <input type="submit" value="EndClass" class="btn btn-primary">
                    </form>
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="col-sm">
                <h4>Press the button below to join class: </h4>
                <form action="addIDNameComOrg" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Submit" class="btn btn-primary">
                </form>
                </div>
                <div class="col-sm">
                <h4>Press the button to exit class :</h4>
                <form action="comOrglogout" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Submit" class="btn btn-primary">
                </form>
                </div>
            </div>
        {% endif %}
        
    </div>
    <br>
    {% if alreadylogin == True %}
        {% if addFormed == True %}
            <p>You are In Class !!</p>
        {% endif %}
    {% else %}
        {% if alreadyInOtherClass == True %}
            <p>You are In another class !!</p>
        {% endif %}
    {% endif %}
    {% if noInDataBase == True %}
        <p>You are not Student !!!</p>
    {% endif %}
    {% if alreadyRegister == True %}
        <p>You are already Register as a Student !!!</p>
    {% endif %}
    {% if registerSucess == True %}
        <p>Register Sucess !!</p>
    {% endif %}
    <div class="btn-group">
        <h3>Active Student in Class :</h3>
        &emsp;
        <button type="button" class="btn btn-outline-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Sorted by :
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="comOrgMinMaxID">Id น้อยไปมาก</a></li>
            <li><a class="dropdown-item" href="comOrgMaxMinID">Id มากไปน้อย</a></li>
            <li><a class="dropdown-item" href="comOrgMaxMinDay">Time lastest</a></li>
            <li><a class="dropdown-item" href="comOrgMinMaxDay">Time earliest</a></li>
        </ul>
    </div>
    <ul>
        <br>
        {% for i in studentInComOrg %}
            <li>
                <p>{{i}}</p>
            </li>
        {% endfor %}
    </ul>

{% endblock %}