{% extends 'layout.html' %}
{% load static from static %}
{% block content %}
    <br>
    <h1 style="display: inline;"> <img src="{% static '10.png' %}" align="right" alt="10.png" width="100" height="auto" ></h1>
    <h2 style="display: inline;">ClassRoom >  Probability and Statistic 2564</h2>
    <br>
    <br>
    <br>
    <div class="container">
        {% if user.is_staff == 1 %}
            {% if isStart == True %}
                <div class="row">
                    <div class="col-sm">
                        <h4>Enter ID to kick out of class: </h4>
                        <form action="problogout" method="post">
                            {% csrf_token %}
                            <div class = "from-group">
                                <input type="text" class = "form-control" name="studentID">
                            </div>
                            <br>
                            <input type="submit" value="Submit" class="btn btn-dark">
                        </form>
                    </div>
                    <div class="col-sm">
                        <h4>End class: </h4>
                        <form action="probEndClass" method="post">
                            {% csrf_token %}
                            <input type="submit" value="EndClass" class="btn btn-danger">
                        </form>
                    </div>
                </div>
            {% else %}
                <div class='row'>
                    <div class='col-sm'>
                        <h4>Press the button to start a class</h4>
                        <form action="probStart" method="post">
                            {% csrf_token %}
                            <input type="submit" value="Start" class="btn btn-info text-white">
                        </form>
                    </div>
                </div>
            {% endif %}  
        {% else %}
            {% if isStart == True %}
                <div class="row">
                    <div class="col-sm">
                        <h1 style="display: inline;"> <img src="{% static '7.png' %}" alt="..." width="50" height="auto "></h1>
                        <h5 style="display: inline;">&nbsp; Press the button below to join class :</h5>
                        <br>
                        <br>
                    <form action="addIDNameProb" method="post">
                        {% csrf_token %}
                        <input type="submit" value="Submit" class="btn btn-info text-white">
                    </form>
                    </div>
                    <div class="col-sm">
                        <h1 style="display: inline;"> <img src="{% static '8.png' %}" alt="..." width="50" height="auto "></h1>
                        <h5 style="display: inline;">&nbsp; Press the button to exit class :</h5>
                        <br>
                        <br>
                    <form action="problogout" method="post">
                        {% csrf_token %}
                        <input type="submit" value="Submit" class="btn btn-dark">
                    </form>
                    </div>
                </div>
            {% else %}
                <h4>This Class is Now Close</h4>
            {% endif %}
        {% endif %}
    </div>


    <br>
    {% if alreadylogin == True %}
        {% if addFormed == True %}
            <p>You are In Class !!</p>
        {% endif %}
    {% else %}
        {% if alreadyInOtherClass == True %}
            <p>You are In another class !!</p>
        {% endif %}
    {% endif %}
    {% if noInDataBase == True %}
        <p>You are not Student !!!</p>
    {% endif %}
    {% if alreadyRegister == True %}
        <p>You are already Register as a Student !!!</p>
    {% endif %}
    {% if registerSucess == True %}
        <p>Register Sucess !!</p>
    {% endif %}



    {% if isStart == True %}
        
    <br>
    <h1 style="display: inline;"> <img src="{% static '9.png' %}" alt="..." width="50" height="auto "></h1>
    <h3 style="display: inline;">&nbsp; Active Student in Class :</h3>
        <div class="btn-group">    
            &emsp;
            <button type="button" class="btn btn-outline-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                Sorted by :
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="probMinMaxID">Id น้อยไปมาก</a></li>
                <li><a class="dropdown-item" href="probMaxMinID">Id มากไปน้อย</a></li>
                <li><a class="dropdown-item" href="probMaxMinDay">Time lastest</a></li>
                <li><a class="dropdown-item" href="probMinMaxDay">Time earliest</a></li>
            </ul>
        </div>
        <ul>
            <br>
            {% for i in studentInProb %}
                <li>
                    <p>{{i}}</p>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    


{% endblock %}